form {
    width: 450px;
    margin: auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-right: 10px;
    padding: 10px 20px;
}

.ng-invalid.ng-touched {
    border: 2px solid red;
}

.ng-valid.ng-touched {
    border: 2px solid green;
}

div {
    color: red;
    font-size: 14px;
}